= nav_dropdown("Developer") do
  = dropdown_item("Bootstrap Examples", bvh_path)

  - if RailsEnvironment.development?
    = dropdown_divider
    
    - if defined?(Rack::MiniProfilerRails)
      = nav_list_header('Mini-Profiler')
      = dropdown_item("Enable", url_for(params.merge(pp: 'enable')))    
      = dropdown_item("Disable", url_for(params.merge(pp: 'disable')))
      = dropdown_item("Help", url_for(params.merge(pp: 'help')))
    - else
      = dropdown_item('Install rack-mini-profiler to enable this menu')
